git+https://github.com/jeolpaul/pyrogram@inline-m
TgCrypto

motor

dnspython

python-dotenv

requests

Heroku3

pykeyboard

humanize

aiohttp

aiofiles

psutil

speedtest-cli

opencv-python-headless                

bs4

Pyromod

telegraph==2.2.0

NumPy

pypng

wget

wheel

asyncio

Pillow

yt-dlp

youtube_search_python

youtube_search

ytthumb

youtube-dl

gTT

