git+https://github.com/jeolpaul/pyrogram@inline-m                      
TgCrypto
pykeyboard
asyncio
dnspython
telegraph
python-dotenv
requests
Heroku3
motor
aiofiles
aiohttp
pillow
opencv-python-headless
wget
yt-dlp
youtube_search_python
youtube_search
ytthumb
youtube-dl
gTTS
googletrans==3.1.0a0
