git+https://github.com/jeolpaul/pyrogram@inline-m                      
TgCrypto
asyncio
dnspython
telegraph
python-dotenv
requests
Heroku3
motor
humanize
psutil
pykeyboard
speedtest-cli
aiofiles
aiohttp
ffmpeg-python
gTTS
future
googletrans==4.0.0-rc1
pillow
pypng
wget
aiofiles
psutil
wheel
psutil
pykeyboard
python-arq
search-engine-parser
uvloop
youtube_dl
ujson
bs4
NumPy
glitch_this
opencv-python-headless
python-dotenv
feedparser
pyromod
fuzzysearch
img2pdf
pytube
